[submodule "fennel-service-api"]
	path = fennel-service-api
	url = git@github.com:fennelLabs/fennel-service-api.git
[submodule "fennel-cli"]
	path = fennel-cli
	url = git@github.com:fennelLabs/fennel-cli.git
[submodule "fennel-protocol"]
	path = fennel-protocol
	url = git@github.com:fennelLabs/fennel-protocol.git
[submodule "subservice"]
	path = subservice
	url = git@github.com:fennelLabs/subservice.git
[submodule "polkadot"]
	path = polkadot
	url = git@github.com:fennelLabs/polkadot.git
[submodule "infra"]
	path = infra
	url = git@github.com:fennelLabs/infra.git
[submodule "fennel-lib"]
	path = fennel-lib
	url = git@github.com:fennelLabs/fennel-lib.git
[submodule "whiteflag-rust"]
	path = whiteflag-rust
	url = git@github.com:fennelLabs/whiteflag-rust.git
